@import "./common.css";
@import "./header.css";
@import "./footer.css";

.about-container {
  padding-top: 90px;
}

.about-left {
  padding-top: 85px;
  padding-bottom: 105px;
}
.about-left h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  max-width: 555px;
  line-height: 70px;
  color: var(--main-color);
}

.about-left p {
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--main-color);
  max-width: 555px;
}

.about-right img {
  max-width: 611px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 105px;
  transition: 0.5s;
}

.about-right img:hover {
  transform: scale(1.1);
}

.btn {
  max-width: 250px;
}

.btn button {
  background: #f53838;
  border-radius: 10px;
  padding: 17px 77px;
  font-style: normal;
  font-weight: 700;
 width: 100%;
  font-size: 16px;
  cursor: pointer;
  line-height: 25px;
  border: none;
  transition: 0.5s;
  color: #ffffff;
}

.btn button:hover {
  transform: scale(1.1);
  box-shadow: 1px 15px 20px 2px rgb(245 56 56 / 35%);
}

/* --start-person */

.card {
  display: flex;
  justify-content: center;
  gap: 36px;
  padding: 37px 20px;
  background: #ffffff;
  align-items: center;
  max-width: 365px;
  height: 125px;
  margin-bottom: 10px;
  border: 2px solid #eeeff2;
  border-bottom: transparent;
  border-left: transparent;
  border-top: transparent;
}

.card-content p {
  font-style: normal;
  margin-top: 5px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--help-color);
}

.card-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--main-color);
}

.card-img i {
  color: #f53838;
  font-size: 20px;
  background: #ffecec;
  border-radius: 70px;
  padding: 20px;
}

.card:nth-child(3) {
  border: none;
}

.person-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #eeeff2;
  margin-bottom: 150px;
  padding: 37px 10px;
  max-width: 1140px;
}

/* --start  feature */

.feature-left img {
  max-width: 508px;
  width: 100%;
  padding-bottom: 135px;
  transition: 0.5s;
}

.feature-left img:hover {
  transform: scale(1.1);
}

.feature-right {
  padding-bottom: 127px;
}

.featur-content h1 {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 35px;
  line-height: 50px;
  max-width: 383px;
  color: var(--main-color);
}

.featur-content p {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  max-width: 427px;
  color: #4f5665;
}

.featur-content ul {
  margin-left: 20px;
  list-style-image: url(../images/true.svg);
}

.featur-content li {
  margin: 15px 0;
  max-width: 209px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

/* --start prinking-- */

.global-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.princing-card {
  margin-top: 60px;
}

.global-content h1 {
  font-style: normal;
  padding-top: 80px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  max-width: 385px;
  color: #0b132a;
}

.global-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  max-width: 555px;
  color: #4f5665;
}

.princing-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
  background: #ffffff;
  padding: 96px 70px 50px 75px;
  border: 2px solid #dddddd;
  border-radius: 10px;

  margin-bottom: 30px;
  transition: 0.5s;
}

.princing-item:hover {
  background: #ffffff;
  border: 2px solid #f53838;
  border-radius: 10px;
  transform: scale(1.02);
}

.item-img img {
  width: 100%;
}

.item-conetn h4 {
  font-style: normal;
  margin-top: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
}

.item-conetn li {
  margin-top: 30px;
  font-style: normal;
  max-width: 150px;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 30px; */
  color: #4f5665;
}

.item-end h3 {
  font-style: normal;
  margin-top: 130px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 20px;
}

.item-conetn ul {
  list-style-image: url(../images/true2.svg);
}

.item-end button {
  border: 2px solid #f53838;
  background-color: transparent;
  border-radius: 50px;
  padding: 13px 62px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #f53838;
  transition: 0.5s;
}

.item-end button:hover {
  background-color: #f53838;
  color: #ffffff;
}

/* --start map */

.map {
  margin-top: 155px;
  padding-bottom: 110px;
}
.map img {
  max-width: 1060px;
  width: 100%;
  transition: 0.5s;
}
.map img:hover {
  transform: scale(1.01);
}
/* --start  */

.amazon-item {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amazon-item img {
  max-width: 190px;
  width: 100%;
}

/* -=start owlcorusel-- */

.hero-card {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #ffffff;
  border: 2px solid #f53838;
  border-radius: 10px;
  max-width: 400px;
  padding: 36px 30px 30px;
  transition: 0.4s;
}

/* --------- */

.hero-card:hover {
  box-shadow: 1px 15px 20px 2px rgb(245 56 56 / 35%);
}

.hero-img {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hero-img img {
  max-width: 50px;
  width: 100%;
}

.hero-img h4 {
  font-style: normal;
  font-weight: 500;
  max-width: 112px;
  font-size: 18px;
  line-height: 30px;
  margin-left: 20px;
  text-align: center;
  color: #0b132a;
}

.hero-img h5 {
  font-weight: 400;
  font-size: 16px;
  margin-left: 110px;
  line-height: 30px;
  color: #0b132a;
}

.hero-img i {
  color: #fea250;
  margin-left: 11px;
}

.hero-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  max-width: 340px;
  color: #0b132a;
}

#custom button.owl-dot {
  width: 10px;

  border-radius: 20px;
  height: 10px;
  background-color: gray;
  margin: 0 5px;
}

#custom button.active {
  width: 30px;
  margin-top: 82px;
  margin-bottom: 205px;
  background: #f53838;
  border-radius: 10px;
}

/* --start -row */

#child {
  background: #f8f8f8;
}

.child-row {
  position: relative;
  top: -125px;
  width: 100%;
  max-width: 1140px;
  background: #ffffff;
  border-radius: 10px;
  padding: 48px 70px;
  box-shadow: 0 0 5px 1px #eeeff2;
}

.child-left h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  max-width: 371px;

  color: #0b132a;
}

.child-left p {
  font-style: normal;
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 30px;
  max-width: 410px;
  color: #4f5665;
}

.child-right .btn button:hover {
  transform: scale(1.1);
  box-shadow: 1px 15px 20px 2px rgb(245 56 56 / 35%);
}

/* --start-- card */

.card-1 ul {
  list-style-type: none;
}

.footer-img h4 {
  font-style: normal;
  margin-left: 30px;
  font-weight: 500;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: #0b132a;
}

.footer-img i {
  background: #ffffff;
  color: #f53838;
  border-radius: 50%;
  padding: 10px;
}

.footer-img h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #afb5c0;
}

.footer-img p {
  font-style: normal;
  font-weight: 500;
  margin-top: 26px;
  font-size: 16px;
  line-height: 30px;
  max-width: 340px;
  margin-bottom: 30px;
  color: #4f5665;
}

.card-1 h1 {
  font-style: normal;
  max-width: 102px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}

.card-1 p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

@media (min-width: 500px) {
  .amazon {
    display: grid;
    grid-column-gap: 47px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) {
  .princing-card {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
  }

  .amazon {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .child-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 230px;
  }

  .foter-right   {
    display: grid;
    grid-column-gap: 120px;
   grid-template-columns: 1fr 1fr ;
    
  }
}

@media (min-width: 950px) {
  .person-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card:nth-child(2) {
    max-width: 430px;
    padding-right: 120px;
    padding-left: 55px;
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 170px;
  }

  .amazon {
    grid-template-columns: repeat(4, 1fr);
  }

  .foter-right {
    grid-template-columns: repeat(3,1fr);

  }

}

@media (min-width: 1100px) {
  .princing-card {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .amazon {
    grid-template-columns: repeat(5, 1fr);
  }
}
